.containerForCheckbox-Radio {
  width: 200px;
  border: 1px solid grey;
  margin-left: 100px;
  margin-top: 30px;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: fixed;
  top: 60px;
  left: 0;
}
.containerForCheckbox-Radio p {
  margin-left: 10px;
  font-weight: bold;
}
.containerForCheckboxAndCards {
  display: flex;
  margin-left: 320px;
  margin-top: 30px;
}
